---

import Layout from '../layouts/Layout.astro';
import { EventsGrid } from "@/components/EventsGrid";
---

<Layout>

	<main class=" flex-1 flex flex-col items-center justify-between space-y-6 relative w-full shrink-0 font-prompt my-4">
		<EventsGrid client:load />
	</main>

</Layout>

