---
import '@/styles/global.css'
import '@fontsource/permanent-marker';
import '@fontsource/prompt';

const GA_TRACKING_ID = import.meta.env.VITE_GA_TRACKING_ID;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />

		<script async src={`https://www.googletagmanager.com/gtag/js?id=${GA_TRACKING_ID}`}></script>
		<script define:vars={{ GA_TRACKING_ID }}>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', GA_TRACKING_ID, {
			page_path: '/event/2025/pride-month-vote',
		  });
		</script>

		<meta name="generator" content={Astro.generator} />
		<title>We're Proud of You | The Old Siam Plaza</title>
		<meta name="description" content="ผ้าไหมไทย ผ่านความภาคภูมิใจของ The Old Siam Plaza ศูนย์การค้าผ้าไหมที่ใหญ่ที่สุดในประเทศ (Silk Market of Thailand) รวมผ้าไหมแท้ และผ้าไทยคุณภาพดีจากร้านค้ากว่า 170 ร้าน ซึ่งได้รับตรานกยูงพระราชทาน เพื่อรับรองเอกลักษณ์ และคุณภาพ" />
		<meta name="keywords" content="ผ้าไหมไทย, ผ้าไหมแท้, ผ้าไทยคุณภาพดี, ผ้าไหมที่ใหญ่ที่สุดในประเทศ, ผ้าไหมที่ได้รับตรานกยูงพระราชทาน, ผ้าไหมที่รับรองเอกลักษณ์, ผ้าไหมที่รับรองคุณภาพ , the old siam plaza, ดิโอลด์สยามพลาซ่า" />

		<meta property="og:title" content="We're Proud of You | The Old Siam Plaza" />
		<meta property="og:description" content=" ร่วมโหวตความงามของชุดผ้าไหมไทยภายใน ดิ โอลด์ สยาม พลาซ่า" />
		<meta property="og:image" content="https://assets-manager.ssdapp.net/public/file/l87ebc7cef22u2e77h3izmo0" />
		<meta property="og:url" content="https://theoldsiam.co.th/event/2025/pride-month-vote" />
		<meta property="og:type" content="website" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="We're Proud of You | The Old Siam Plaza" />
		<meta name="twitter:description" content="        เพื่อสนับสนุนเอกลักษณ์ และอนุรักษ์สมบัติทางวัฒนธรรมไทย" />
		<meta name="twitter:image" content="https://assets-manager.ssdapp.net/public/file/l87ebc7cef22u2e77h3izmo0" />
		
	</head>
	<body class="bg-[#0a3254] flex flex-col items-center relative px-4 md:px-8  min-h-screen  ">
		<div class="w-full h-full fixed top-0 !z-[-10] bg-[url('../assets/38270.jpg')] bg-cover bg-no-repeat bg-center opacity-60"/>
		<div class="w-full h-full fixed top-0 !z-[-10] bg-[url('../assets/pattern.webp')]  opacity-50 bg-contain bg-center bg-repeat"/>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
